/* main text color #757575 */
/* bold text color  #212121*/
/* accent text color #2196F3  */

/* footer color contact rgba(255, 255, 255, 0.6); */
/* footer adres color #FFFFFF */

:root {
  --primery-text-color: #757575;
  --tittle-text-color: #212121;
  --accent-text-color: #2196f3;
  --white-text-color: #ffffff;
}

/* body primery text color*/

body {
  color: var(--primery-text-color);
  background-color: #e7e7e7;
}

/* header */

.logo {
  color: var(--tittle-text-color);
  font-weight: 700;
}

.logo-accent {
  color: var(--accent-text-color);
}

.site-nav .link {
  color: var(--tittle-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-text-color);
}

/* Contacts header + footer */

.contact .contact-item {
  color: var(--primery-text-color);
}

.contact .contact-item:hover,
.contact .contact-item:focus {
  color: var(--accent-text-color);
}

/* main board section + button */

.main-board-text {
  color: var(--white-text-color);
}

.button {
  color: var(--white-text-color);
  background-color: var(--accent-text-color);
}

/* features section */

.features .features-tittle {
  color: var(--tittle-text-color);
}

/* what we do secrion */
.about-us .about-us-tittle {
  color: var(--tittle-text-color);
}

/* our team section */

.team .team-tittle {
  color: var(--tittle-text-color);
}

.team h3 {
  color: var(--tittle-text-color);
}

/* footer */
.footer .footer-adress {
  color: var(--white-text-color);
}
